# 🔒 Um .env-Dateien überall zu ignorieren
.env
.env.local
.env.example

# 🗃️ Um node_modules überall zu ignorieren
node_modules/

# 🧠 IntelliJ / VSCode / andere IDEs
.idea/
.vscode/

# 💻 System-Dateien
.DS_Store
Thumbs.db

# 📦 Log- und Lock-Dateien
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# 🔐 Testschlüssel & sensible Dateien
**/test_*.pem
